/* START: Task 1 Styles */
table {
  margin: 0 auto;
  border: 1px solid black;
  text-align: center;
}

td {
  /* background-color: white; */
  padding: 20px 10px;
  border: 1px solid black;
  height: 50px;
  width: 33%;
}

.yellow {
  background-color: yellow;
}

.blue {
  background-color: blue;
}

.green {
  background-color: green;
}
/* END: Task 1 Styles */

/* START: Task 2 Styles */
#task2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.invalid,
.valid {
  margin-top: 30px;
  width: 250px;
  padding: 10px 40px 10px 10px;
  border: 1px solid black;
  color: white;
  display: none;
}

.invalid {
  background-color: indianred;
}

.valid {
  background-color: green;
}

.form {
  margin-top: 10px;
  padding: 10px;
}

input {
  padding: 10px;
  margin-right: 10px;
  width: 300px;
  border: 1px solid black;
  overflow: visible;
}

button {
  padding: 10px;
}
/* END: Task 2 Styles */

/* START: Task 3 Styles */
#task3 {
  margin-bottom: 50px;
}

.court {
  margin-top: 20px;
  margin: 20px auto 0 auto;
  width: 600px;
  display: flex;
  justify-content: center;
  position: relative;
}

.court__img {
  width: 600px;
  height: 330px;
  position: relative;
}

.ball__img {
  z-index: 10;
  width: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.scoring-zone {
  position: absolute;
  width: 15px;
  height: 15px;
}

.a {
  top: 50%;
  right: 40px;
  transform: translate(50%, -50%);
}

.b {
  top: 50%;
  left: 40px;
  transform: translate(-50%, -50%);
}

.team {
  display: flex;
  justify-content: space-between;
  max-width: 600px;
  margin: auto;
}

.scoreA {
  margin: 0;
  color: blue;
  text-align: center;
}

.scoreB {
  margin: 0;
  color: red;
  text-align: center;
}
/* END: Task 3 Styles */
